; Force public npm registry locally for this project
registry=https://registry.npmjs.org/

; Do not use auth with public registry
always-auth=false

; Keep SSL strict for public registry
strict-ssl=true
